@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body.dark {
  background-color: #000000 !important;
  min-height: 100vh;
}
body.dark .modal .modal-dialog .modal-content {
  background: #212121;
}
body.dark .modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .notesmain .notescont {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .modal .modal-dialog .modal-content .modal-body .notesmain .notescont h4 {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .notesmain .notescont p {
  color: rgba(255, 255, 255, 0.7);
}
body.dark .modal .modal-dialog .modal-content .modal-body .notesmain .notescont a svg {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-img-main p {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-img-main p span {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bend-title h2 {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bends-upload-file {
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.25);
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bends-upload-file svg {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bends-upload-file p span {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bends-upload-file small {
  color: rgba(255, 255, 255, 0.75);
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bend-quantity h5 {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bend-quantity .input-group .form-control {
  background: transparent;
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bend-quantity .input-group button {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bend-quantity .input-group button svg {
  color: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bend-quantity .input-group button:hover {
  border-color: #ffffff;
  background: #ffffff;
}
body.dark .modal .modal-dialog .modal-content .modal-body .bend-content .bend-quantity .input-group button:hover svg {
  color: #000000;
}
body.dark .modal .modal-dialog .modal-content .modal-body .form-control {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.75);
}
body.dark .modal .modal-dialog .modal-content .modal-body .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .modal .modal-dialog .modal-content .modal-body .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .modal .modal-dialog .modal-content .modal-body h2 {
  color: #ffffff;
}
.error-text {
  color: red;
  font-size: 14px;
}
body.dark .login-main .loginform {
  background: #212121;
}
body.dark .login-main .loginform .headlogin_div h2 {
  color: #ffffff;
}
body.dark .login-main .loginform .form-group label {
  color: #ffffff;
}
body.dark .login-main .loginform .form-group .form-control {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.75);
}
body.dark .login-main .loginform .form-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .login-main .loginform .form-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .login-main .loginform .form-group.forgotpassword a {
  color: #ffffff;
}
body.dark .login-main .loginform .form-group .password-input-group svg {
  color: #ffffff;
}
body.dark .login-main .loginform .formfooter {
  color: #ffffff;
}
body.dark .btn-outline-primary {
  background: transparent !important;
}
body.dark .header .navbar {
  background-color: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .header .navbar .navbar-toggler {
  border-color: #ffffff;
  background: #ffffff;
}
body.dark .header .navbar .navbar-collapse .navbar-nav .nav-link {
  color: #ffffff;
}
body.dark .header .navbar .navbar-collapse .navbar-nav .nav-link:hover, body.dark .header .navbar .navbar-collapse .navbar-nav .nav-link.active {
  color: #4F8CCA;
}
body.dark .header .navbar .navbar-collapse .navbar-nav .nav-link.header-search .form-control {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.75);
  background: #212121;
}
body.dark .header .navbar .navbar-collapse .navbar-nav .nav-link.header-search .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .header .navbar .navbar-collapse .navbar-nav .nav-link.header-search .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .header .navbar .navbar-collapse .navbar-nav .nav-link.header-search.search-expanded.form-control {
  background: #000000;
}
body.dark .header .navbar .navbar-collapse .navbar-nav .form-switch .form-check-input {
  border-color: rgba(255, 255, 255, 0.35);
}
body.dark .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  background: #212121;
}
body.dark .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item img {
  filter: brightness(0) invert(1);
  opacity: 0.5;
}
body.dark .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  color: #4F8CCA;
}
body.dark .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover img {
  filter: brightness(1) invert(0);
  opacity: 1;
}
body.dark .banner-upload-file {
  border-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.12);
}
body.dark .banner-upload-file p {
  color: #ffffff;
}
body.dark .banner-upload-file svg {
  color: #ffffff;
}
body.dark .banner-upload-file small {
  color: rgba(255, 255, 255, 0.75);
}
body.dark .banner-home .banner-service-img:after {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .banner-home .banner-content h1 {
  color: #ffffff;
}
body.dark .banner-home .banner-content p {
  color: #ffffff;
}
body.dark .banner-home .banner-content ul li {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.3);
}
body.dark .our-services .services-img:before {
  opacity: 1;
}
body.dark .our-services .services-grid {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .our-services .services-grid h2 {
  color: #ffffff;
}
body.dark .our-services .services-grid:hover {
  background: #4F8CCA;
}
body.dark .heading h2 {
  color: #ffffff;
}
body.dark .materials-grid {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
body.dark .materials-grid .materials-info h2 {
  color: #ffffff;
}
body.dark .materials-grid .material-grade span {
  border-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
body.dark .get-instant-quote .get-quote-img .portal-inner {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .get-instant-quote .get-quote-img .portal-inner .top-portal {
  background: #212121;
  border-color: rgba(255, 255, 255, 0.3);
}
body.dark .get-instant-quote .get-quote-img .portal-inner .top-portal:after {
  background: rgba(255, 255, 255, 0.5);
}
body.dark .get-instant-quote .features-content-box {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
body.dark .get-instant-quote .features-content-box .content h3 {
  color: #ffffff;
}
body.dark .get-instant-quote .get-parts-img:after {
  opacity: 1;
}
body.dark .our-testimonials .testimonials-grid {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .our-testimonials .testimonials-grid .userinfo h3 {
  color: #ffffff;
}
body.dark .our-testimonials .testimonials-grid .userinfo p {
  color: rgba(255, 255, 255, 0.75);
}
body.dark footer.footer .copyright-area {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark footer.footer .footer-top-area {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark footer.footer .footer-top-area .right-area a {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark footer.footer .footer-top-area .right-area a svg {
  color: #ffffff;
}
body.dark footer.footer .footer-top-area .right-area a.mailtext {
  color: #ffffff;
}
body.dark footer.footer .footer-heading {
  color: #ffffff;
}
body.dark .our-history .history-grid {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .our-history .history-grid h3 {
  color: #ffffff;
}
body.dark .our-history .history-grid p {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .our-mission .mission-img:after {
  background: rgba(255, 255, 255, 0.2);
}
body.dark .our-mission .mission-content h4 {
  color: #6C6A72;
}
body.dark .values-grid {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
body.dark .values-grid h3 {
  color: #ffffff;
}
body.dark .resources-main .resources-search-field svg {
  color: #ffffff;
}
body.dark .resources-main .resources-search-field .form-control {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.75);
}
body.dark .resources-main .resources-search-field .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .resources-main .resources-search-field .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .resources-main .accordion .accordion-item {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .resources-main .accordion .accordion-item .accordion-header button.accordion-button {
  background: transparent;
  color: #ffffff;
}
body.dark .resources-main .accordion .accordion-item .accordion-header button.accordion-button .accordion-icon {
  background: rgba(79, 140, 202, 0.06);
  border: 1px solid rgba(79, 140, 202, 0.13);
}
body.dark .resources-main .accordion .accordion-item .accordion-header button.accordion-button .accordion-icon svg {
  color: #4F8CCA;
  font-size: 18px;
}
body.dark .resources-main .accordion .accordion-item .accordion-header button.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%23ffffff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27%3e%3cpath d=%27M2 5L8 11L14 5%27/%3e%3c/svg%3e");
}
body.dark .resources-main .accordion .accordion-item .accordion-body a {
  color: #6C6A72;
}
body.dark .resources-main .accordion .accordion-item .accordion-body a.active, body.dark .resources-main .accordion .accordion-item .accordion-body a:hover {
  color: #4F8CCA;
}
body.dark .resources-main .resources-body hr {
  border-color: #ffffff;
}
body.dark .resources-main .resources-body .resources-pagination {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .resources-main .resources-body .resources-heading h1 {
  color: #ffffff;
}
body.dark .resources-main .resources-body .searchfield svg,
body.dark .resources-main .resources-body .searchfaq svg {
  color: #ffffff;
}
body.dark .resources-main .resources-body .searchfield .form-control,
body.dark .resources-main .resources-body .searchfaq .form-control {
  border-color: rgba(255, 255, 255, 0.2);
  background: transparent;
  color: rgba(255, 255, 255, 0.75);
}
body.dark .resources-main .resources-body .searchfield .form-control::-moz-placeholder, body.dark .resources-main .resources-body .searchfaq .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .resources-main .resources-body .searchfield .form-control::placeholder,
body.dark .resources-main .resources-body .searchfaq .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .resources-main .resources-body .resources-content .map-resources {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .resources-main .resources-body .resources-content .custom-table .rdt_Table {
  background: transparent;
}
body.dark .resources-main .resources-body .resources-content .custom-table .rdt_TableHead .rdt_TableHeadRow {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .resources-main .resources-body .resources-content .custom-table .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
  color: #ffffff;
}
body.dark .resources-main .resources-body .resources-content .custom-table .rdt_TableBody .rdt_TableRow {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .resources-main .resources-body .resources-content .custom-table .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .resources-main .resources-body .resources-content h2 {
  color: #ffffff;
}
body.dark .resources-main .resources-body .resources-content .resources-alerts p {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .resources-main .resources-body .resources-content .resources-alerts p span {
  color: #ffffff;
}
body.dark .btnshare {
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
body.dark .btnshare:hover {
  background: #ffffff;
  color: #000000;
}
body.dark .btnsavelater {
  border-color: rgba(255, 255, 255, 0.2);
  background: #ffffff;
  color: #000000;
}
body.dark .btnsavelater:hover {
  background: transparent;
  color: #ffffff;
}
body.dark .btnicon {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .btnicon svg {
  color: #ffffff;
}
body.dark .btnicon:hover {
  border-color: #ffffff;
  background: #ffffff;
}
body.dark .btnicon:hover svg {
  color: #000000;
}
body.dark .list-quotes-main {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .list-quotes-main .input-group .form-control {
  background: transparent;
  color: #ffffff;
}
body.dark .list-quotes-main .input-group button {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .list-quotes-main .input-group button svg {
  color: #ffffff;
}
body.dark .list-quotes-main .input-group button:hover {
  border-color: #ffffff;
  background: #ffffff;
}
body.dark .list-quotes-main .input-group button:hover svg {
  color: #000000;
}
body.dark .list-quotes-main .list-quotes .right-quote p {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .list-quotes-main .list-quotes .right-quote .quote-off {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
}
body.dark .list-quotes-main .list-quotes .content-quotes h2 {
  color: #ffffff;
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-services label {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .list-quotes-main .list-quotes .content-quotes p {
  color: #ffffff;
}
body.dark .list-quotes-main .list-quotes .content-quotes p .num-dim-indicator {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .list-quotes-main .list-quotes .content-quotes p.num-dim-main span.num-dim span {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-services h4 {
  color: #ffffff;
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-services .form-check label {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-services .form-check .form-check-input {
  --bs-form-check-bg: transparent ;
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-dropdown .selectdropdown span + div {
  background: transparent !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-dropdown .selectdropdown span + div div {
  color: rgba(255, 255, 255, 0.75);
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-dropdown .selectdropdown span + div div div:before {
  display: none;
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-dropdown .selectdropdown span + div + div {
  background: #212121 !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
body.dark .list-quotes-main .list-quotes .content-quotes .quotes-dropdown .selectdropdown span + div + div:hover {
  color: #ffffff !important;
}
body.dark .quotes-sidebar .customtabs li.nav-item button.nav-link {
  border-color: rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
body.dark .quotes-sidebar .customtabs li.nav-item button.nav-link.active {
  background: #4F8CCA;
}
body.dark .quotes-sidebar .quotes-inner {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .quotes-sidebar .quotes-inner .head-quotes h2 {
  color: #ffffff;
}
body.dark .quotes-sidebar .quotes-inner .accountform .react-tel-input .country-list {
  background: #212121;
}
body.dark .quotes-sidebar .quotes-inner .accountform .react-tel-input .country-list .search {
  background: #212121;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .quotes-sidebar .quotes-inner .accountform .react-tel-input .country-list .search .search-box {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.75);
}
body.dark .quotes-sidebar .quotes-inner .accountform .react-tel-input .country-list .search .search-box::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .quotes-sidebar .quotes-inner .accountform .react-tel-input .country-list .search .search-box::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .quotes-sidebar .quotes-inner .accountform .react-tel-input .country-list li {
  color: #ffffff;
  background: transparent;
}
body.dark .quotes-sidebar .quotes-inner .accountform .react-tel-input .flag-dropdown .selected-flag {
  background: transparent;
}
body.dark .quotes-sidebar .quotes-inner .accountform .form-check .form-check-input {
  --bs-form-check-bg:transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .quotes-sidebar .quotes-inner .accountform .form-check label {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .quotes-sidebar .quotes-inner .accountform .form-group .form-label {
  color: #ffffff;
}
body.dark .quotes-sidebar .quotes-inner .accountform .form-group .form-control, body.dark .quotes-sidebar .quotes-inner .accountform .form-group .form-select {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.75);
}
body.dark .quotes-sidebar .quotes-inner .accountform .form-group .form-control::-moz-placeholder, body.dark .quotes-sidebar .quotes-inner .accountform .form-group .form-select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .quotes-sidebar .quotes-inner .accountform .form-group .form-control::placeholder, body.dark .quotes-sidebar .quotes-inner .accountform .form-group .form-select::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .quotes-sidebar .quotes-inner .accountform small {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .quotes-sidebar .quotes-inner .accountform .freeshipping {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .quotes-sidebar .quotes-inner .accountform .freeshipping b {
  color: #ffffff;
}
body.dark .quotes-sidebar .quotes-inner .accountform .freeshipping span {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .quotes-sidebar .quotes-inner .quotes-separator {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .quotes-list {
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .quotes-list .quotes-content h2 {
  color: #ffffff;
}
body.dark .quotes-list .quotes-content .quotes-date {
  color: #ffffff;
}
body.dark .quotes-list .quotes-content p {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .quotes-list .quotes-content p span {
  color: #ffffff;
}
body.dark .accountform .form-group .form-label {
  color: #ffffff;
}
body.dark .accountform .form-group .form-control, body.dark .accountform .form-group .form-select {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.75);
}
body.dark .accountform .form-group .form-control option, body.dark .accountform .form-group .form-select option {
  color: rgba(0, 0, 0, 0.75);
}
body.dark .accountform .form-group .form-control::-moz-placeholder, body.dark .accountform .form-group .form-select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .accountform .form-group .form-control::placeholder, body.dark .accountform .form-group .form-select::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .accountform .form-group .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ffffff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: calc(100% - 15px) center;
}
body.dark .card {
  background: #212121;
}
body.dark .card .card-header {
  background: #212121 !important;
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .card .card-header h5 {
  color: #ffffff;
}
body.dark .card .no-cart h3 {
  color: #ffffff;
}
body.dark .card .card-body .tablelist li {
  border-color: rgba(255, 255, 255, 0.1);
}
body.dark .card .card-body .addresses-grid {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .card .card-body .addresses-grid h2 {
  color: #ffffff;
}
body.dark .card .card-body .addresses-grid p {
  color: rgba(255, 255, 255, 0.5);
}
body.dark .card .card-body .addresses-grid .btn-bottom .btn-address, body.dark .card .card-body .addresses-grid .btn-bottom .btn-set-default {
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
body.dark .card .card-body .addresses-grid .btn-bottom .btn-address:hover, body.dark .card .card-body .addresses-grid .btn-bottom .btn-set-default:hover {
  border-color: #ffffff;
  background: #ffffff;
  color: #000000;
}
body.dark .card .card-body .addresses-grid.payment-grids .card-actions .card-info strong {
  color: #ffffff;
}
body.dark .card .card-body .profile_user_main {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .card .card-body .profile_user_main .user_info img {
  border-color: rgba(255, 255, 255, 0.1);
}
body.dark .card .card-body .profile_user_main h4 {
  color: #ffffff;
}
body.dark .card .card-body .rdt_Pagination {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
}
body.dark .card .card-body .rdt_Pagination button {
  color: rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5);
}
body.dark .card .card-body .custom-table.custom-table2 .rdt_Table {
  background: transparent;
}
body.dark .card .card-body .custom-table.custom-table2 .rdt_TableHead .rdt_TableHeadRow {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .card .card-body .custom-table.custom-table2 .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
  color: #ffffff;
}
body.dark .card .card-body .custom-table.custom-table2 .rdt_TableBody .rdt_TableRow {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
body.dark .card .card-body .custom-table.custom-table2 .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  color: rgba(255, 255, 255, 0.5);
}/*# sourceMappingURL=style-dark.css.map */