// $primary-color:#4F8CCA;
$primary-color:#3c5b8a;
$secondary-color:#1F2E60;
$danger-color:#E11F26;
$green-color:#2A5C17;
$yellow-color:#FFBA16;
$purple-color:#7367F0;
$paragraph-color:#6C6A72; 
$black-color:#000000;
$dark-color:#212121;
$white-color:#ffffff;
$font-family: "Inter", sans-serif;